In [81]:
import pandas as pd

In [82]:
data = pd.read_csv("full.csv")
data = data.rename(columns=lambda x: x.lower())
data.columns

Index(['participant_id', 'average_glucose_spike', 'average_meal_calories',
       'carbs_percentage', 'protein_percentage', 'fat_percentage',
       'fiber_percentage', 'age', 'gender', 'bmi', 'body weight', 'height',
       'self-identify', 'a1c', 'fasting_glucose', 'insulin', 'triglycerides',
       'cholesterol', 'hdl', 'non hdl', 'ldl (cal)', 'vldl (cal)',
       'cho/hdl ratio', 'collection time pdl (lab)',
       '#1 contour fingerstick glu', 'time (t)', '#2 contour fingerstick glu',
       'time (t).1', '#3 contour fingerstick glu', 'time (t).2',
       'diabetes_status', 'gut microbiome health', 'metabolic fitness',
       'inflammatory activity', 'digestive efficiency'],
      dtype='object')

In [83]:
data = data.set_index('participant_id')
data = data.sort_index()

In [84]:
data['gut microbiome health'] = data['gut microbiome health'].fillna(data['gut microbiome health'].mean())
data = data.rename(columns={'gut microbiome health': 'gut_microbiome_health'})

In [85]:
select_cols = ['age', 'gender', 'diabetes_status', 'average_glucose_spike', 'diabetes_status', 'bmi', 'gut_microbiome_health']
data = data[select_cols]

In [86]:
data['gut_microbiome_health'] = data['gut_microbiome_health'].round(0).astype(int)

In [87]:
time_series = pd.read_csv('time_series.csv')
time_series = time_series.set_index('participant_id')
time_series.head()

,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10
participant_id,,,,,,,,,,
1,84.729630,88.055556,88.923611,90.785417,89.125000,89.095139,91.863194,87.656944,88.314583,83.650000
2,53.194737,72.771111,77.848889,68.761528,79.847083,83.618333,89.764028,79.784722,81.892500,80.895417
3,99.100557,107.776806,108.439439,117.839861,103.122222,104.803194,113.468056,106.171250,107.141528,108.198472
4,91.611111,91.910417,93.678472,98.241667,87.280556,86.262500,89.511806,85.127869,90.540972,94.367361
5,94.801567,102.064583,109.162500,118.669444,105.314583,117.194444,121.789583,105.941667,117.634028,112.718750

In [88]:
data = data.merge(time_series, on='participant_id')
data.head()

,age,gender,diabetes_status,average_glucose_spike,diabetes_status,bmi,gut_microbiome_health,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10
participant_id,,,,,,,,,,,,,,,,,
1,27,M,Non-Diabetic,18.323101,Non-Diabetic,22.265239,3,84.729630,88.055556,88.923611,90.785417,89.125000,89.095139,91.863194,87.656944,88.314583,83.650000
2,49,F,Non-Diabetic,48.481682,Non-Diabetic,30.946742,2,53.194737,72.771111,77.848889,68.761528,79.847083,83.618333,89.764028,79.784722,81.892500,80.895417
3,59,F,Type 2 Diabetic,71.014667,Type 2 Diabetic,26.948690,2,99.100557,107.776806,108.439439,117.839861,103.122222,104.803194,113.468056,106.171250,107.141528,108.198472
4,33,F,Non-Diabetic,28.912832,Non-Diabetic,42.384279,1,91.611111,91.910417,93.678472,98.241667,87.280556,86.262500,89.511806,85.127869,90.540972,94.367361
5,51,F,Type 2 Diabetic,44.515362,Type 2 Diabetic,30.957534,1,94.801567,102.064583,109.162500,118.669444,105.314583,117.194444,121.789583,105.941667,117.634028,112.718750

In [89]:
data.to_csv('data.csv')

In [90]:
data['bmi'].describe()

count    45.000000
mean     31.149765
std       6.728244
min      20.689962
25%      26.922934
50%      30.038349
75%      35.918461
max      49.088236
Name: bmi, dtype: float64